section {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
    grid-column-gap: 0px;
    max-width: 340px;
    max-height: 350px;
    margin: 0 auto;
    background-color: white;
}
.photo-gallery img {
    max-width: 100px;
    transition: all 200ms ease-in-out;
    border-radius: 2px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.photo-gallery img:hover {
    transform: scale(3);
  }